# === 操作系统生成的文件 ===
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# === Python 运行缓存 ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# === IDE / 编辑器缓存 (如 VS Code, PyCharm 等) ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# === 或者是你可能用到的虚拟环境 ===
venv/
.venv/
env/
.env/
ENV/

# LaTeX 缓存
*.aux
*.log
*.nav
*.snm
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bak*

# Jupyter 缓存
.ipynb_checkpoints/